In [1]:
# In a comment below, answer 'What is the Python keyword for the "floating point number" data type'
# float

In [2]:
# In a comment below, answer 'What is the Python keyword for the "integer" data type'
# int

In [3]:
# In a comment below, answer 'What is the Python keyword for the "string" data type'
# str

In [4]:
# In a comment below, answer 'What is the Python keyword for the "boolean" data type'
# bool

In [5]:
# In a comment below, answer 'what differentiates' a float and an int
# decimal

In [6]:
# In a comment below, answer 'how do you create a string in python'
# enclose a sequence of characters within a pair of single or double quotes

In [7]:
# In a comment below, answer (in valid python syntax) 'What values can a bool be'
# True False

In [9]:
# fill in the value of x such that this expression returns True
x = 2
y = 1
expression = x > y
print(expression)

In [10]:
# fill in the value of x such that this expression returns True
# print the data type of expression
x = 2
y = 1
expression = x > y
print(expression)

print(type(expression))

True
<class 'bool'>

In [11]:
# In a comment below, answer 'what is the datatype of 4.5'
# prove it using the type function
# float

print(type(4.5))

<class 'float'>

In [12]:
# In a comment below, answer 'what is the datatype of 4'
# prove it using the type function
# int

print(type(4))

<class 'int'>

In [13]:
# In a comment below, answer 'what is the datatype of "hello world"'
# prove it using the type function
# str

print(type("hellow world"))

<class 'str'>

In [14]:
# In a comment below, answer 'what is the datatype of True'
# prove it using the type function
# bool

print(type(True))

<class 'bool'>

In [15]:
# In a comment below, answer 'what is the datatype of 4.5'
# prove it using the isinstance function
# float

print(isinstance(4.5, float))

True

In [16]:
# In a comment below, answer 'what is the datatype of 4'
# prove it using the isinstance function
# int

print(isinstance(4, int))

True

In [17]:
# In a comment below, answer 'what is the datatype of "hello world"'
# prove it using the isinstance function
# str

print(isinstance("hello world", str))

True

In [18]:
# In a comment below, answer 'what is the datatype of True'
# prove it using the isinstance function
# bool

print(isinstance(4, bool))

False

In [20]:
# In a comment below, answer 'can integers be negative'
# prove it using the type function
# yes

print(type(-1))

<class 'int'>

In [21]:
# In a comment below, answer 'can integers be negative'
# prove it using the isinstance function
# yes

print(isinstance(-1, int))

True