In [ ]:
# practice
#   for loops
#   iterator variable
#   iterator 


"""
recall:

for {iterator_variable} in {iterator}:
    # do things
    # in this
    # block of code
    
"""

In [ ]:
# iterator variable review

In [ ]:
# example problem

# using the range function, write a for loop
# that prints 'b' on two consecutive lines

# for the iterator variable name, use: i

for i in range(2):
    print('b')

In [ ]:
# using the range function, write a for loop
# that prints 'a' on three consecutive lines

# for the iterator variable name, use: i

In [ ]:
# using the range function, write a for loop
# that prints the value of the iterator variable
# on three consecutive lines, from 0 to 2.

# like so:
# 0
# 1
# 2

# for the iterator variable name, use: x

In [ ]:
# using the range function, write a for loop
# that prints the values 0, 1, and  2 on three
# consecutive lines

# for the iterator variable name, use: any_variable_name

In [ ]:
# using the range function, write a for loop
# that prints the values 0, 1, and  2 on three
# consecutive lines

# for the iterator variable name, use: each

In [ ]:
# using the range function, write a for loop
# that prints the values 0, 1, and  2 on three
# consecutive lines

# for the iterator variable name, use: each_element

In [ ]:
# using the range function, write a for loop
# that squares the values 0, 1, and  2 on three
# consecutive lines
# note: square -> (var * var) or (var ** 2)

# for the iterator variable name, use: each

In [ ]:
# range review

In [ ]:
# using the range function, write a for loop
# that prints 'c' on three consecutive lines

# for the iterator variable name, use: j

In [ ]:
# using the range function, write a for loop
# that prints the values 0 and 1 on two
# consecutive lines

# for the iterator variable name, use: i

In [ ]:
# explicitly stating the start and stop
# of the range function, write a for loop
# that prints the values 0 and 1 on two
# consecutive lines

# for the iterator variable name, use: i

In [ ]:
# using the range function, write a for loop
# that prints the values 0 to 3 on four
# consecutive lines

# for the iterator variable name, use: i

In [ ]:
# using the range function, write a for loop
# that prints the values 1 to 3 on three
# consecutive lines

# for the iterator variable name, use: any_variable_name

In [ ]:
# using a list, write a for loop that prints
# the values 1 to 3 on three consecutive lines

# for the iterator variable name, use: each

In [ ]:
# using a list, write a for loop that prints
# the value 42 on two consecutive lines

# for the iterator variable name, use: each

In [ ]:
# range practice
# recall: range(start, stop, step)

In [ ]:
# explicitly stating the start, stop, and step
# of the range function, write a for loop that
# prints the values 0, 1, and 2 on three
# consecutive lines

# for the iterator variable name, use: each_element

In [ ]:
# explicitly stating the start, stop, and step
# of the range function, write a for loop that
# prints the values 1 and 2 on two consecutive
# lines

# for the iterator variable name, use: i

In [ ]:
# explicitly stating only the start and stop
# of the range function, write a for loop that
# prints the values 1 and 2 on two consecutive
# lines

# for the iterator variable name, use: i

In [ ]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values 1, 3, 5 on three consecutive lines

# for the iterator variable name, use: each

In [ ]:
# negative range & special cases

# in cells that fail to produce an ouput,
# the iterator is equivalent to []

In [ ]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values -1, -2, -3, -4 on four consecutive
# lines

# for the iterator variable name, use: each

In [ ]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values 3, 1, -1 on three consecutive
# lines

# for the iterator variable name, use: each

In [ ]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values -4 and -3 on two consecutive
# lines

# for the iterator variable name, use: each_element

In [ ]:
# using only the start and stop of the range 
# function, write a for loop that prints 
# the values -3 and -2 on two consecutive
# lines

# for the iterator variable name, use: each_element

In [ ]:
# using only the start and stop of the range 
# function, write a for loop that prints 
# the values from -3 to 1 on five consecutive
# lines

# for the iterator variable name, use: each_element

In [ ]:
# using only the start and stop of the range 
# function, write a for loop that prints 
# the values from -2 to 0 on three consecutive
# lines

# for the iterator variable name, use: each

In [ ]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values -1, -3, -5 on three consecutive
# lines

# for the iterator variable name, use: i