In [1]:
# practice
#   for loops
#   iterator variable
#   iterator 


"""
recall:

for {iterator_variable} in {iterator}:
    # do things
    # in this
    # block of code
    
"""

In [2]:
# iterator variable review

In [3]:
# example problem

# using the range function, write a for loop
# that prints 'b' on two consecutive lines

# for the iterator variable name, use: i

for i in range(2):
    print('b')

b
b

In [4]:
# using the range function, write a for loop
# that prints 'a' on three consecutive lines

# for the iterator variable name, use: i

for i in range(3):
    print('a')

a
a
a

In [5]:
# using the range function, write a for loop
# that prints the value of the iterator variable
# on three consecutive lines, from 0 to 2.

# like so:
# 0
# 1
# 2

# for the iterator variable name, use: x

for x in range(3):
    print(x)

0
1
2

In [6]:
# using the range function, write a for loop
# that prints the values 0, 1, and  2 on three
# consecutive lines

# for the iterator variable name, use: any_variable_name

for any_variable_name in range(3):
    print(any_variable_name)

0
1
2

In [7]:
# using the range function, write a for loop
# that prints the values 0, 1, and  2 on three
# consecutive lines

# for the iterator variable name, use: each

for each in range(3):
    print(each)

0
1
2

In [8]:
# using the range function, write a for loop
# that prints the values 0, 1, and  2 on three
# consecutive lines

# for the iterator variable name, use: each_element

for each_element in range(3):
    print(each_element)

0
1
2

In [9]:
# using the range function, write a for loop
# that squares the values 0, 1, and  2 on three
# consecutive lines
# note: square -> (var * var) or (var ** 2)

# for the iterator variable name, use: each

for each in range(3):
    print(each * each)

0
1
4

In [10]:
# range review

In [11]:
# using the range function, write a for loop
# that prints 'c' on three consecutive lines

# for the iterator variable name, use: j

for j in range(3):
    print('c')

c
c
c

In [12]:
# using the range function, write a for loop
# that prints the values 0 and 1 on two
# consecutive lines

# for the iterator variable name, use: i

for i in range(2):
    print(i)

0
1

In [13]:
# explicitly stating the start and stop
# of the range function, write a for loop
# that prints the values 0 and 1 on two
# consecutive lines

# for the iterator variable name, use: i

for i in range(0, 2):
    print(i)

0
1

In [14]:
# using the range function, write a for loop
# that prints the values 0 to 3 on four
# consecutive lines

# for the iterator variable name, use: i

for i in range(4):
    print(i)

0
1
2
3

In [15]:
# using the range function, write a for loop
# that prints the values 1 to 3 on three
# consecutive lines

# for the iterator variable name, use: any_variable_name

for any_variable_name in range(1, 4):
    print(any_variable_name)

1
2
3

In [16]:
# using a list, write a for loop that prints
# the values 1 to 3 on three consecutive lines

# for the iterator variable name, use: each

for each in [1, 2, 3]:
    print(each)

1
2
3

In [17]:
# using a list, write a for loop that prints
# the value 42 on two consecutive lines

# for the iterator variable name, use: each

for each in [1, 2]:
    print(42)

42
42

In [18]:
# range practice
# recall: range(start, stop, step)

In [19]:
# explicitly stating the start, stop, and step
# of the range function, write a for loop that
# prints the values 0, 1, and 2 on three
# consecutive lines

# for the iterator variable name, use: each_element

for each_element in range(0, 3, 1):
    print(each_element)

0
1
2

In [20]:
# explicitly stating the start, stop, and step
# of the range function, write a for loop that
# prints the values 1 and 2 on two consecutive
# lines

# for the iterator variable name, use: i

for i in range(1, 3, 1):
    print(i)

1
2

In [21]:
# explicitly stating only the start and stop
# of the range function, write a for loop that
# prints the values 1 and 2 on two consecutive
# lines

# for the iterator variable name, use: i

for i in range(1, 3):
    print(i)

1
2

In [22]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values 1, 3, 5 on three consecutive lines

# for the iterator variable name, use: each

for each in range(1, 6, 2):
    print(each)

1
3
5

In [23]:
# negative range & special cases

# in cells that fail to produce an ouput,
# the iterator is equivalent to []

In [24]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values -1, -2, -3, -4 on four consecutive
# lines

# for the iterator variable name, use: each

for each in range(-1, -5, -1):
    print(each)

-1
-2
-3
-4

In [25]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values 3, 1, -1 on three consecutive
# lines

# for the iterator variable name, use: each

for each in range(3, -2, -2):
    print(each)

3
1
-1

In [26]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values -4 and -3 on two consecutive
# lines

# for the iterator variable name, use: each_element

for each_element in range(-4, -2, 1):
    print(each_element)

-4
-3

In [27]:
# using only the start and stop of the range 
# function, write a for loop that prints 
# the values -3 and -2 on two consecutive
# lines

# for the iterator variable name, use: each_element

for each_element in range(-3, -1):
    print(each_element)

-3
-2

In [28]:
# using only the start and stop of the range 
# function, write a for loop that prints 
# the values from -3 to 1 on five consecutive
# lines

# for the iterator variable name, use: each_element

for each_element in range(-3, 2):
    print(each_element)

-3
-2
-1
0
1

In [29]:
# using only the start and stop of the range 
# function, write a for loop that prints 
# the values from -2 to 0 on three consecutive
# lines

# for the iterator variable name, use: each

for each in range(-2, 1):
    print(each)

-2
-1
0

In [30]:
# using only the start, stop, and step of the
# range function, write a for loop that prints
# the values -1, -3, -5 on three consecutive
# lines

# for the iterator variable name, use: i

for i in range(-1, -6, -2):
    print(i)

-1
-3
-5